[Unit]
Description=Garage Data Store
After=network-online.target
Wants=network-online.target

[Service]
Environment='RUST_LOG=garage=info' 'RUST_BACKTRACE=1'
ExecStart=/usr/local/bin/garage server
User=garage
Group=garage
PrivateTmp=yes
RemoveIPC=yes
ProtectSystem=strict
# TODO: make that configurable through env file
ReadWritePaths=/mnt/data /var/lib/garage
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
